@font-face {
    font-family: 'Onest';
    src: url('../font/Onest-Medium.woff2') format('woff2'),
        url('../font/Onest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('../font/Onest-Regular.woff2') format('woff2'),
        url('../font/Onest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('../font/Onest-Light.woff2') format('woff2'),
        url('../font/Onest-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Onest';
    src: url('../font/Onest-SemiBold.woff2') format('woff2'),
        url('../font/Onest-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}